@use "../../styles/_variables.scss" as *;
@use "../../styles/_mixin.scss" as *;

.header {
  margin-bottom: 30px;
  .header-upper {
    background-color: #1f2229;

    .header-upper-content {
      display: flex;
      align-items: center;
      padding: 6px 0 7px 0;
      .logo-picture {
        flex-grow: 1;
      }

      @media (max-width: 480px) {
        padding: 6px 6px 7px 6px;
      }

      .location {
        @include location;
      }

      .logo-link {
      }

      .bell-picture {
        margin-left: auto;
        cursor: pointer;

        @media (max-width: 480px) {
          margin-right: 23px;
        }
      }

      .bell-img {
      }

      .burger-cross {
      }

      .burger-menu {
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 18px;
        height: 14px;
        cursor: pointer;

        @media (max-width: 480px) {
          display: flex;
        }

        .burger-cross {
          transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
          &:first-child {
            transform-origin: 0 50%;
            transform: rotate(45deg);
          }

          &:nth-child(2) {
            opacity: 0;
          }

          &:nth-child(3) {
            transform-origin: 0 50%;
            transform: rotate(-45deg);
          }
        }

        .burger-bar {
          width: 100%;
          height: 2px;
          background-color: #fff;
          border-radius: 2px;
          transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;

          &:first-child {
            transform-origin: 0 50%;
          }

          &:nth-child(3) {
            transform-origin: 0 50%;
          }
        }
      }
    }
  }

  .header-lower {
    position: relative;
    background-color: #fff;

    .nav {
      display: flex;
      height: 100%;
      overflow-x: auto;
      padding: 13px 0 14px 0;

      @media (max-width: 480px) {
        flex-direction: column;
        height: 0;
        overflow: hidden;
        padding: 0 3px 0 3px;
        transition: height 0.5s ease, padding 0.5s ease;
      }

      .nav-item {
        position: relative;
        font-size: 14px;
        color: $primary-text-color;
        white-space: nowrap;

        @media (max-width: 480px) {
          margin-bottom: 24px;
          color: #959597;
          font-weight: 700;
          font-size: 16px;

          &:before {
            content: "";
            position: absolute;
            height: 1px;
            width: 100%;
            left: 0;
            bottom: -8px;
            background-color: #ededed;
          }
        }

        &:not(:last-child) {
          margin-right: 18px;

          @media (max-width: 480px) {
            margin-right: 0;
          }
        }
      }
    }

    .show-dropdown {
      @media (max-width: 480px) {
        height: calc(100vh - 37px);
        padding: 24px 3px 50px 3px;
        overflow-y: auto;
      }
    }

    .location-wrapper {
      display: none;
      position: absolute;
      width: 100%;
      bottom: 0;
      background-color: #ebebeb;
      padding: 17px 20px;

      @media (max-width: 480px) {
        display: block;
      }

      .location {
        @include location(none, inline-block);
      }
    }
  }
}
